body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a59df8;
}

.container {
  height: 70vh;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background: #a59df8;
  box-shadow: 5px 5px 10px #968fe2,
    -5px -5px 10px #b4abff;
}

.title {
  font-size: 65px;
  color: #14006d;
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  animation: flipTitle 0.5s;
}

.containerInput {
  padding: 15px;
  margin: 35px 0;
  display: flex;
  border-bottom: #14006d solid 1px;
}

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #FFFFFF;
  outline: none;
  margin-right: 8px;
  font-family: 'Gruppo', cursive;
}

.containerInput input::placeholder {
  color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-bottom: 1px solid #14006d;
  color: #14006d;
  text-align: center;
}

.main h2 {
  margin: 16px 0;
  font-size: 30px;
  font-family: 'Gruppo', cursive;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
  font-family: 'Gruppo', cursive;
}

@media (max-width: 470px) {
  .container {
    height: 70vh;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .container {
    height: 70vh;
    width: 300px;
  }

  .title {
    font-size: 50px;
  }

  .main {
    width: 250px;
  }

  .containerInput input {
    width: 200px;
  }
}

@media (max-width: 330px) {
  .container {
    height: 70vh;
    width: 260px;
  }

  .title {
    font-size: 40px;
  }

  .main {
    width: 200px;
  }

  .main h2 {
    font-size: 25px;
  }

  .main span {
    font-size: 17px;
  }

  .containerInput input {
    width: 170px;
  }
}